/*
@author: Aberdeen Morrow, Shouayee Vue
Last Modified: 12-14-21
Macalester College
COMP 446 Internet Computing
with Joslenne Pena
*/

/*Universal CSS*/
:root {
    --yellow: #FFCC46;
    --orange: #F15A29;
  }
* {
    box-sizing: border-box;
    line-height: 1.5;
    margin: 0;
}
p, li {
    font-family: Georgia, serif;
    margin: 0;
    font-size: 16px;
}
body {
    background: #EEEEEE;
}
h1 {
    font-family: "Lora", serif;
    font-size: 32px;
    font-weight: 700;
}
h2 {
    font-family: "Rubik", sans-serif;
    font-size: 24px;
    font-weight: 700;
    margin: 0;
}
h3 {
    font-family: "Rubik", sans-serif;
    font-size: 20px;
    font-weight: 500;
}
h4, .nav-bar {
    font-family: "Work Sans", sans-serif;
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
}
.page-title {
    margin: 2% 2% 0 2% !important;
}
/*Universal CSS End*/

/*Footer CSS*/
footer {
    background-color: var(--orange);
    color: white;
    font-family: Rubik, Helvetica, sans-serif;
}
.column1 { /*Left Side*/
    margin-left: 2%;
    float: left;
    width: 73%;
    padding: 10px;
}
.column2 { /*Right Side*/
    float: left;
    width: 25%;
    padding: 10px;
    line-height: 2;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}
.column2 a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}
.column2 a:hover {
    color: var(--yellow);
}
/*Footer CSS End*/

/*Nav Bar CSS*/
.nav-bar {
    list-style-type: none;
    margin: 0;
    padding: 15px;
    overflow: hidden;
    background-color: var(--yellow);
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}
.nav-bar .spacer {
    flex-grow: 1;
  }
.nav-bar a {
    display: block;
    color: black;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
    float: left;
}
.nav-bar h1 {
    line-height: 0;
    font-size: 24px;
}
.nav-bar div a:hover {
    color: var(--orange);
}
.nav-bar div input {
    border-radius: 5px;
}
.nav-bar .nav-logo {
    display: flex;
    align-items: center;
    gap: 15px;
}
.nav-bar .nav-bar--right {
    float: right;
}
.nav-bar .nav-bar--right a {
    padding: 0 15px;
}
.nav-bar .nav-logo img {
    height: 2em !important;  
    width: 2.25em;
}
.search-container input {
    height: 2.5em;
    min-width: 20em;
    max-width: 50em;
    border-radius: 10px 0 0 10px !important;
    font-family: "Work Sans", sans-serif;
    padding: 10px 15px;
    font-size: 14px;
    border: none;
    margin: 0 0 0 10px;
}
.search-container button {
    height: 2.5em;
    border-radius: 0 10px 10px 0;
    float: right;
    padding: 0 15px;
    margin-right: 16px;
    background: var(--orange);
    color: white;
    font-size: 14px;
    border: none;
    cursor: pointer;
}
.search-container button:hover {
    background: black;
}
.nav-bar .icon {
    display: none;
}
@media screen and (max-width: 850px) {
    .nav-bar a:not(:first-child),
    .nav-bar .nav-bar--right {display: none;}
    .nav-bar a.icon {
        float: right;
        display: block;
    }
}
@media screen and (max-width: 850px) {
    .nav-bar .responsive {position: relative;}
    .nav-bar .responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .nav-bar.responsive div,.nav-bar.responsive div a {
        float: none;
        display: block;
        text-align: left;
    }
}
/*Nav Bar CSS End*/

/*Body CSS*/
img {
    width: 100%;
}
.recipe .card .card-img-top {
    max-height: 200px;
    object-fit: cover;
}
.recipe-of-the-day--image {
    width: 100%;
    max-height: 800px;
}
.feature {
    position: relative;
    text-align: center;
    color: white;
}
.recipe-of-the-day--title {
    font-family: "Lora", serif;
    font-size: 32px;
    font-weight: 700;
    color: black;
}
.recipe-of-the-day--title:hover {
    color: var(--orange);
}
.recipe-of-the-day {
    position: absolute;
    top: 120px;
    background-color: var(--orange);
    padding: 1% 5% 1% 5%;
    color: white;
}
.info-box {
    position: absolute;
    top: 150px;
    left: 100px;
    background-color: white;
    padding: 4% 3% 3% 3%;
    color: black;
    max-width: 500px;
    border-radius: 15px;
    text-align: left;
}
hr {
    height:0.3em;
    width: 66%;
    float: left;
    border-width:0;
    border-radius: 0 5px 5px 0;
    color: var(--yellow);
    background-color: var(--yellow);
    margin: 0 0 15px 0;
}
.container {
    max-width: 1000px;
    min-height: 500px;
    width: 100%;
    margin: auto;
    padding: 15px;
}

/* Recipe Card CSS */
.card {
    border-style: solid;
    border-width: 1px;
    border-color: #DDDDDD;
    margin: 1%;
    width: 250px;
    background-color: white;
}
.card-body {
    padding: 5px 15px 12px 15px;
    text-overflow: ellipsis;
    overflow: hidden;
}
.card-title {
    text-overflow: ellipsis;
    overflow: hidden;
    height: 30px;
    white-space: nowrap;
}
.card-title a{
    color: black;
    font-weight: bold;
}
.card-title a:hover{
    color: var(--orange);
}
.recipes {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: left;
    flex-wrap: wrap;
    gap: 25px;
    margin: 10px 25px 50px 25px;
}
.recipe-card {
    display: flex;
    flex-direction: row;
}
.recipe-details {
    margin: 1%;
    width: 250px;
    padding: 10px;
    background-color: white;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-grow: 1;
}
.card-ingredients {
    font-family: "Work Sans", sans-serif;
    font-weight: 500;
    font-size: 14px;
    text-decoration: none;
    background-color: var(--yellow);
    border-radius: 10px;
    padding: 2px 8px;
    white-space: nowrap;
}
/* Recipe Card CSS end */

/* Recipe Page CSS */
.recipe-container {
    background: white;
}
.recipe-container-details {
    padding: 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between;
}
.recipe-container h1 {
    background: white;
    padding: 0 0 0 48px;
}
.recipe-container .full-width {
    width: 100%;
}
#recipe-title {
    margin: 5% 0 0 0;
}
#recipe-img {
    max-width: 500px;
    height: 400px;
    border-style: solid;
    border-width: 1px;
    flex: 1; 
}
.card-image-top {
    height: 200px;
    object-fit: cover;
}
#ingredients {
    flex: 1; 
    min-width: 250px;
    overflow: wrap;
}

#instructions p {
    padding: 5px 20px;
}
#saved-button {
    color: var(--orange);
    float: right;
    margin: 0 10% 0 0;
    background: none;
    border: none;
    padding: none;
}
/* End Recipe Page */

/* Log In CSS */
.login_form {
    font-family: "Work Sans", sans-serif;
    display: flex;
    flex-flow: column;
    gap: 20px;
}
.login_form input {
    height: 3em;
    width: 35em;
    font-family: "Work Sans", sans-serif;
    padding: 10px 15px;
    font-size: 14px;
    border: none;
}
.login_form .login,
.login_form .signup {
    height: 3em;
    border-radius: 10px;
    padding: 10px 15px;
    margin-right: 16px;
    background: var(--orange);
    color: white;
    font-size: 14px;
    border: none;
    cursor: pointer;
}
/* Log In CSS end */

/* Accordion CSS */
.accordion {
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}
  
/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
    background-color: #ccc;
}
  
/* Style the accordion panel. Note: hidden by default */
.panel {
    display: none;
}
/* End Accordion CSS */

/* Profile CSS */
.profile-accordion {
    background: white;
    color: var(--orange);
    padding: 1% 1% 1% 2%;
    margin: 1% 0 0 0;
    width: 100%;
}
/* End Profile CSS */

/* Error CSS */
.error-message {
    padding: 10px 15px ;
    background: var(--yellow);
    border-radius: 5px;
    margin: 5px 0;
}
.error-message-text {
    font-family: "Rubik", sans-serif !important;
    font-size: 16px;
    font-weight: 500;
    color: black;
}
/* End Error CSS */