<!DOCTYPE html>
<!--
@author: Shouayee Vue, Aberdeen Morrow
Last Modified: 12-11-21
Macalester College
COMP 446 Internet Computing
with Joslenne Pena
-->
<html>
    <head>
        <title>Scrambled</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='home.css') }}">
        <script src="https://kit.fontawesome.com/54e37e037b.js" crossorigin="anonymous"></script>
        <!-- JQuery -->
        <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
        <!-- AJAX -->
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <!-- Google fonts -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora:700|Rubik:500,700|Work+Sans:500">
    </head>
    
    <body>
        <!--Navigation Bar-->
        <div class="nav-bar" id="top-nav">
            <div class="nav-logo">
                <a href="{{ url_for('home') }}"><img src="https://i.ibb.co/NsJpqtH/logo.png" alt="Scrambled logo"></a>
                <a href="{{ url_for('home') }}"><h1>Scrambled</h1></a>  
            </div>
            <div class="search-container">
                <form action="{{ url_for('search') }}" method="post">
                    <input type="text" placeholder="Search recipes by ingredient..." name="search">
                    <button type="submit"><i class="fa fa-search"></i></button>
                </form>
            </div>
            <div class="spacer"></div>
            <div class="nav-bar--right">
                <a href="{{ url_for('home') }}">HOME</a>
                <a href="{{ url_for('recipes') }}">RECIPES</a>
                {% if logged_in %}
                <a href="{{ url_for('profile') }}"><i class='fas fa-user-alt'></i></a>
                {% else %}
                <a href="{{ url_for('login') }}">LOG IN</a>
                {% endif %}
            </div>
        </div>

        {% block content %}
        {% endblock %}
    
        <script src="{{url_for('static', filename='app.js')}}"></script>
    </body>
    
    <footer>
        <div class="row">
            <div class="column1">
                <h2>About Us</h2>
                <p>Based in Saint Paul, MN, we developed Scrambled for an Internet Computing class taught by Joslenne Pena at Macalester College.</p>
            </div>
            <div class="column2">
                <a href="{{ url_for('recipes') }}">RECIPES</a><br>
                <a href="">SEARCH BY INGREDIENT</a><br>
                {% if logged_in %}
                    <a href="{{ url_for('profile') }}">SAVED RECIPES</a><br>
                    <a href="{{ url_for('logout') }}">LOG OUT</a>
                    {% else %}
                    <a href="{{ url_for('login') }}">LOG IN</a>
                {% endif %}
            </div>
        </div>
    </footer>
</html> 