<!DOCTYPE html>
<!--
@author: Shouayee Vue, Aberdeen Morrow
Last Modified: 12-10-21
Macalester College
COMP 446 Internet Computing
with Joslenne Pena
-->
<html>
    <head>
        <title>Scrambled</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/home.css') }}">
        <script src="https://kit.fontawesome.com/54e37e037b.js" crossorigin="anonymous"></script>
        <!-- Import google fonts using Google Fonts API -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora:700|Rubik:500,700|Work+Sans:500">
    </head>
    
    <body>
        <!--Navigation Bar-->
        <ul class="nav-bar">
            <li class="nav-logo">
                <a href="{{ url_for('home') }}">
                    <img src="static/logo.png" alt="Scrambled logo">
                </a>  
            </li>
            <li>
                <a href="{{ url_for('home') }}">
                    <h1>Scrambled</h1>
                </a>
            </li>
            <li>
                <div class="search-container">
                    <form action="{{ url_for('search') }}" method="post">
                        <input type="text" placeholder="Search recipes by ingredient..." name="search">
                        <button type="submit"><i class="fa fa-search"></i></button>
                    </form>
                </div>
            </li>
            <div class="nav-bar--right">
                <li><a href="{{ url_for('home') }}">HOME</a></li>
                <li><a href="{{ url_for('recipes') }}">RECIPES</a></li>
                <li>
                    {% if logged_in %}
                    <a href="{{ url_for('profile') }}"><i class='fas fa-user-alt'></i></a>
                    {% else %}
                    <a href="{{ url_for('login') }}">LOG IN</a>
                    {% endif %}
                </li>
            </div>
        </ul>
        {% block content %}
        {% endblock %}
    
        <script src="{{url_for('static', filename='app.js')}}"></script>
    </body>
    
    <footer>
        <div class="row">
            <div class="column1">
                <h2>About Us</h2>
                <p>Based in Saint Paul, MN, we developed Scrambled for an Internet Computing class taught by Joslenne Pena at Macalester College.</p>
            </div>
            <div class="column2">
                <a href="{{ url_for('recipes') }}">RECIPES</a><br>
                <a href="">SEARCH BY INGREDIENT</a><br>
                {% if logged_in %}
                    <a href="{{ url_for('profile') }}">SAVED RECIPES</a><br>
                    <a href="{{ url_for('logout') }}">LOG OUT</a>
                    {% else %}
                    <a href="{{ url_for('login') }}">LOG IN</a>
                    {% endif %}
            </div>
          </div>
    </footer>
</html> 