<!--
@author: Shouayee Vue, Aberdeen Morrow
Last Modified: 12-14-21
Macalester College
COMP 446 Internet Computing
with Joslenne Pena
-->

{% extends 'base.html' %}

{% block content %}

<!--Recipe of the Day Section-->
<div class="feature">
{% for recipe in featured_recipes %}
  {% if recipe['id']=='8' %}
    <img src="{{recipe['imageURL']}}" alt="Image of the Best Scrambled Eggs" class="recipe-of-the-day--image">
    <div class="info-box">
      <a href="http://localhost:5000/recipes/{{recipe['id']}}">
        <h1 class="recipe-of-the-day--title">{{recipe['name']}}</h1>
      </a>
      <p>{{recipe['ctext']}}</p>
    </div>
  {% endif %}
{% endfor %}
  <div class="recipe-of-the-day"><h3>RECIPE OF THE DAY</h3></div>
</div> 

<!--Feature Section-->
<h1 class="page-title">Featured Recipes</h1>
<hr>
<div class="recipes">
{% for recipe in featured_recipes %}
  {% if recipe['id']=='8' %}
    <!--Do nothing-->
  {% else %}
    <div class="recipe">
      <div class="card accordion">
        <img src="{{recipe['imageURL']}}" alt="{{recipe['imageURL']}}" class="card-image-top">
        <div class="card-body">
          <h3 class="card-title"><a href="http://localhost:5000/recipes/{{recipe['id']}}">{{recipe['name']}}</a></h3>
          <p class="card-text">{{recipe['ctext']}}</p>
        </div>
      </div>
      <div class="recipe-details panel">
        <h3>Ingredients</h3>
        {% for ingredient in recipe['ingredients'] %}
      <span class="card-ingredients">{{ingredient['name']}}</span>
        {% endfor %}
      </div>
    </div>
  {% endif %}
{% endfor %}
</div>

{% endblock %}