<!--
@uthor: Shouayee Vue, Aberdeen Morrow
Last Modified: 12-11-21
Macalester College
COMP 446 Internet Computing
with Joslenne Pena
-->
{% extends 'base.html' %}

{% block header %}
  <link rel="stylesheet" href="login.css">
{% endblock %}

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

{% block content %}
    {% if alert %}
        <p class=error><strong>Error:</strong> {{ error }}
    {% endif %}
    <form class="login-form" action="{{ url_for('login') }}" method="post">
        <label for="username"><b>Username</b></label>
        <input class="login-form-field" type="text" placeholder="Enter Username" name="username" required>

        <label for="password"><b>Password</b></label>
        <input class="login-form-field" type="password" placeholder="Enter Password" name="password" required>

        <input id="login-form-submit" class="signup" name="action" type="submit" value="Sign Up"></input>
        <input class="login" name="action" type="submit" value="Log In"></input>
    </form>
{% endblock %}