<!DOCTYPE html>
<!--
@uthor: Shouayee Vue
Last Modified: 11-29-21
Macalester College
COMP 446 Internet Computing
with Joslenne Pena
-->
<html>
    <head>
        <title>Scrambled Login</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="login.css">
    </head>

    <body>
        <main id="main-holder">
            <h1>Welcome Back!</h1>
            <form id="login-form">
                <input type="text" name="username" id="username-field" class="login-form-field" placeholder="Username">
                <input type="password" name="password" id="password-field" class="login-form-field" placeholder="Password">
                <input type="submit" value="Login" id="login-form-submit">
            </form>
            <p>Don't have an account yet? <a href="">Sign Up Here</a></p>
            <p>Or <a href="">Continue As Guest</a></p>
        </main>
    </body>
</html>