<!--
@uthor: Shouayee Vue
Last Modified: 11-29-21
Macalester College
COMP 446 Internet Computing
with Joslenne Pena
-->
{% extends 'base.html' %}

{% block header %}
<link rel="stylesheet" href="login.css">
{% endblock %}

{% block content %}
    <form class="login-form" action="{{ url_for('login') }}" method="post">
        <label for="username"><b>Username</b></label>
        <input class="login-form-field" type="text" placeholder="Enter Username" name="username" required>

        <label for="password"><b>Password</b></label>
        <input class="login-form-field" type="password" placeholder="Enter Password" name="password" required>

        <input id="login-form-submit" class="signup" name="action" type="submit" value="Sign Up"></input>
        <input class="login" name="action" type="submit" value="Log In"></input>
    </form>
{% endblock %}

