html {
    height: 100%;
}
body {
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    display: grid;
    justify-items: center;
    align-items: center;
    background-color: white;
}
h1 {
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
}
p {
    color: white;
}
a {
    color: #F15A29;
}
a:hover {
    color: #224B24;
}
#main-holder {
    width: 50%;
    height: 60%;
    display: grid;
    justify-items: center;
    align-items: center;
    background-color: #FFCC46;
    border-radius: 50px;
}
#login-form {
    align-self: flex-start;
    display: grid;
    justify-items: center;
    align-items: center;
}
.login-form-field::placeholder {
    color: black;
}
  
.login-form-field {
    border: none;
    margin-bottom: 20px;
    border-radius: 5px;
    outline: none;
    padding: 10px 10px 10px 10px;
}
  
#login-form-submit {
    width: 100%;
    padding: 7px;
    border: none;
    border-radius: 5px;
    color: #FFCC46;
    font-weight: bold;
    background-color: white;
    cursor: pointer;
    outline: none;
}

#login-form-submit:hover {
    background-color: #224B24;
    color: white;
}