<!--
@author: Shouayee Vue, Aberdeen Morrow
Last Modified: 12-11-21
Macalester College
COMP 446 Internet Computing
with Joslenne Pena
-->

{% extends 'base.html' %}

{% block content %}

<div class="container recipe-container">
    <h1>{{recipe['name']}}</h1>
    <hr>
    <div class="recipe-container-details">
        <p>{{recipe['serving']}} : {{recipe['time']}}</p>
        <p>{{recipe['ctext']}}</p>
        <div id="ingredients">
            <h3>Ingredients</h3>
            <ul>
            {% for ingredient in recipe['ingredients'] %}
                <li>{{ingredient['quantity']}} - {{ingredient['name']}}</li>
            {% endfor %}
            </ul>
        </div>
        <img src="{{recipe['imageURL']}}" alt="{{recipe['imageURL']}}" id="recipe-img">
        <h3 class="full-width">Instructions</h3>
        <ol id="instructions">
            {% for step in recipe['steps'] %}
            <li>{{step}}</li>
            {% endfor %}
        </ol>
    </div>
</div>

{% endblock %}