{% extends 'base.html' %}

{% block content %}

<h1 class="page-title">Recipes</h1>
<hr>

<div class="recipes">
  <div class="card">
    <img src="static/stock.jpg" alt="stock image" class="card-image-top">
      <div class="card-body">
        <h3 class="card-title"><a href="">Recipe title</a></h3>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
  </div>
  <div class="card">
    <img src="static/stock.jpg" alt="stock image" class="card-image-top">
      <div class="card-body">
        <h3 class="card-title"><a href="">Recipe title</a></h3>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
  </div>
  <div class="card">
    <img src="static/stock.jpg" alt="stock image" class="card-image-top">
      <div class="card-body">
        <h3 class="card-title"><a href="">Recipe title</a></h3>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>
    <div class="card">
      <img src="static/stock.jpg" alt="stock image" class="card-image-top">
        <div class="card-body">
          <h3 class="card-title"><a href="">Recipe title</a></h3>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
</div>

{% endblock %}