<!--
@author: Shouayee Vue, Aberdeen Morrow
Last Modified: 12-11-21
Macalester College
COMP 446 Internet Computing
with Joslenne Pena
-->

{% extends 'base.html' %}

{% block content %}

<div class="container recipe-container">
    <h1 id="recipe-title">{{recipe['name']}}
        {% if logged_in %}
            {% if recipe_is_saved==True %}
                <span id="saved-button" name="{{recipe['id']}}"><i class="fa fa-bookmark" aria-hidden="true"></i></span>
            {% else %}
                <span id="saved-button" name="{{recipe['id']}}"><i class="fa fa-bookmark-o" aria-hidden="true"></i></span>
            {% endif %}
        {% endif %}
    </h1>
    <hr>
    <div class="recipe-container-details">
        <div id="ingredients">
            <p>{{recipe['serving']}} : {{recipe['time']}}</p>
            <p>{{recipe['ctext']}}</p>
            <h3>Ingredients</h3>
            <ul>
            {% for ingredient in recipe['ingredients'] %}
                <li>{{ingredient['quantity']}} - {{ingredient['name']}}</li>
            {% endfor %}
            </ul>
        </div>
        <img src="{{recipe['imageURL']}}" alt="{{recipe['imageURL']}}" id="recipe-img">
        <h3 class="full-width">Instructions</h3>
        <ol id="instructions">
            {% for step in recipe['steps'] %}
            <li>{{step}}</li>
            {% endfor %}
        </ol>
    </div>
</div>

{% endblock %}