<!--
@author: Aberdeen Morrow, Shouayee Vue
Last Modified: 12-12-21
Macalester College
COMP 446 Internet Computing
with Joslenne Pena
-->

{% extends 'base.html' %}

{% block content %}

<div class="container">
  <h1 class="page-title">All Recipes</h1>
  <hr>
  <div class="recipes">
  {% for recipe in all_recipes %}
    <div class="recipe">
      <div class="card accordion">
        <img src="{{recipe['imageURL']}}" alt="{{recipe['imageURL']}}" class="card-image-top">
        <div class="card-body">
          <h3 class="card-title"><a href="http://localhost:5000/recipes/{{recipe['id']}}">{{recipe['name']}}</a></h3>
        </div>
      </div>
      <div class="recipe-details panel">
        <h3>Ingredients</h3>
          {% for ingredient in recipe['ingredients'] %}
            <span class="card-ingredients">{{ingredient['name']}}</span>
          {% endfor %}
      </div>
    </div>
  {% endfor %}
  </div>
</div>
</div>

{% endblock %}