<!--
@author: Aberdeen Morrow
Last Modified: 12-02-21
Macalester College
COMP 446 Internet Computing
with Joslenne Pena
-->

{% extends 'base.html' %}
{% block content %}
  <div class="container">
    <h1 class="page-title">All Recipes</h1>
    <hr>
    {% for recipe in all_recipes %}
      <div class="card accordion">
        <img src="static/stock.jpg" alt="stock image" class="card-image-top">
        <div class="card-body">
          <h3 class="card-title"><a href="{{ url_for('recipe') }}">{{recipe['name']}}</a></h3>
        </div>
      </div>
      <div class="allrecipe-details panel">Ingredients
        <ul>
          {% for ingredient in recipe['ingredients'] %}
            <li class="card-ingredients">
              {{ingredient['name']}}
            </li>
          {% endfor %}
        </ul>
      </div>
    {% endfor %}
  </div>
{% endblock %}