<!-- @author: Aberdeen Morrow
Last Modified: 12-02-21
Macalester College
COMP 446 Internet Computing
with Joslenne Pena -->
{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h1>Log In</h1>
    <form class="login_form" action="{{ url_for('login') }}" method="post">
        <label for="username"><b>Username</b></label>
        <input type="text" placeholder="Enter Username" name="username" required>

        <label for="password"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="password" required>

        <input class="signup" name="action" type="submit" value="Sign Up"></input>
        <input class="login" name="action" type="submit" value="Log In"></input>
    </form>

    <!-- <label>
    <input type="checkbox" checked="checked" name="remember"> Remember me
    </label> -->
</div>

{% endblock %}