{% extends 'base.html' %}

{% block content %}

<h2 class="page-title">Search results for '{{search_term}}'</h2>
<div class="recipes">
{% for recipe in search_results %}
    <!-- <p>{{recipe}}</p> -->
    
        <div class="card">
            <img src="static/stock.jpg" alt="stock image" class="card-image-top">
            <div class="card-body">
            <h3 class="card-title"><a href="">{{recipe['name']}}</a></h3>
            <p class="card-text">
                <p>
                    {% for ingredient in recipe['ingredients'] %}
                        {{ingredient['name']+", "}}
                    {% endfor %}
                </p>
            </p>
            </div>
        </div>

{% endfor %}
</div>
{% endblock %}